body {
  background-color: rgb(226, 37, 25);
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

dl {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  border: 2px solid black;
}

dt {
  padding: 1rem;
  background-color: rgb(254, 122, 21);
  font-weight: bold;
}

dd {
  padding: 1rem;
}

p {
  width: 80%;
  background-color: rgb(254, 122, 21);
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid black;
}
ul {
  width: 70%;
  padding: 1rem;
  margin: auto;
  border: 2px solid black;
  padding-left: 4rem;
}

a {
  display: block;
  margin: auto;
  text-align: center;
  padding: 1rem;
}
