html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(228, 80, 9);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

#pageheader {
  background-color: none;
  min-height: auto;
  padding: 0.25rem;
}

#logo {
  background-image: url(Images/FireLogo.png);
  width: 9.5rem;
  height: 9.5rem;
  border: 1px solid none;
  background-size: cover;
  transition: all 2;
  margin: auto;
  background-color: rgb(230, 83, 13);
}
#pageheader .container {
  min-height: auto;
  background-color: rgb(228, 80, 9);
}

#pageheader nav {
  text-align: center;
  background-color: orange;
  padding: 1rem;
}

#pageheader nav ul {
  background-color: orange;
  margin: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#pageheader nav ul li {
  border: 2px solid rgb(226, 37, 25);
  padding: 1rem;
  margin: 2px;
}

#pageheader nav ul li:hover {
  background-color: rgb(226, 37, 25);
}

#media {
  background-color: rgb(91, 38, 7);
  /* min-height: 10rem; */
  padding: 1rem;
  background-image: url(Images/DragonBall.png);
  background-size: cover;
  /* aspect-ratio: 16 / 9; */
  height: 70vh;
  background-position: center;
}
#pagecontent {
  background-color: rgb(91, 38, 7);
  min-height: 10rem;
  padding: 1rem;
  color: black;
}
#career {
  background-color: rgb(89, 38, 7);
  min-height: 10rem;
  padding: 1rem;
}

#semester1 {
  background-color: rgb(89, 38, 7);
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: rgb(89, 38, 7);
  min-height: 10rem;
  padding: 1rem;
}
#worksamples {
  background-color: rgb(89, 38, 7);
  min-height: 10rem;
  padding: 1rem;
}
#worksamples ul {
  list-style-type: none;
}
#worksamples i {
  color: brown;
}
#certificates {
  background-color: rgb(89, 38, 7);
  min-height: 10rem;
  padding: 1rem;
}
#certificates ul {
  list-style-type: none;
}
#certificates i {
  color: brown;
}
#pagefooter {
  background-color: rgb(89, 38, 7);
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter .container {
  min-height: auto;
  text-align: center;
}

#aifooter {
  padding: 1rem;
  background-color: rgb(89, 38, 7);
  min-height: auto;
}

#aifooter .container {
  min-height: auto;
  text-align: center;
}
#subfooter {
  background-color: rgb(89, 38, 7);
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  border: 5px solid rgb(89, 38, 7);
  background-color: rgb(89, 38, 7);
  display: block;
  margin: auto;
}
h1,
h2 {
  font-family: "MyCustomFont", sans-serif;
  color: #fde326;
  font-size: 3rem;
  text-shadow:
    1px 1px 1px black,
    -1px -1px 1px black,
    4px 4px 4px brown;
}
h1 {
  font-size: 80px;
  margin: 0;
}

/* Font File */
@font-face {
  font-family: "MyCustomFont";
  src: url("Fonts/db_font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: 850px) {
  #pageheader nav ul {
    margin-top: 2rem;
  }
  #pageheader nav ul li {
    display: inline-block;
  }
  #pagecontent {
    background-color: rgb(89, 38, 7);
  }
}

@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: rgb(89, 38, 7);
  }
}
