html{
  scroll-behavior: smooth;
}


body {
  background-color: black;
  color: rgb(0, 0, 0);
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

#pageheader {
  background-color: rgb(255, 166, 0);
  min-height: auto;
  padding: 0.25rem;
}

#logo {
  background-image: url(Images/FireLogo.png);
  width: 9.5rem;
  height: 9.5rem;
  border: 1px solid none;
  background-size: cover;
}
#pageheader .container {
  min-height: auto;
}

#pageheader nav {
  text-align: center;
  background-color: rgb(240, 156, 0);
  padding: 1rem;
}
#media {
  background-color: rgb(235, 153, 0);
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/DragonBall.png);
  background-size: cover;
  aspect-ratio: 16 / 9;
}
#career {
  background-color: rgb(211, 137, 0);
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: rgb(222, 144, 0);
  min-height: 10rem;
  padding: 1rem;
}
#semester1 {
  background-color: rgb(189, 123, 0);
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: orange;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: orange);
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter .container {
  min-height: auto;
  text-align: center;
}

#aifooter{
  padding:1rem;
  background-color: rgb(179, 117, 0);
  min-height: auto;
}

#aifooter .container{
  min-height: auto;
  text-align: center;
  
}
#subfooter {
  background-color: rgb(152, 99, 0);
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  border: 5px solid red;
  background-color:red;
  display: block;
  margin: auto;
}
